.piSearchBoxA{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: center;
    font-weight: 100;
}
.piSearchBoxA .startButton{
    display: inline-flex;
    min-width: 5.2em;
    padding-left: .6em;
    padding-right: .6em;
    height: 1.8em;
    margin-bottom: .4em;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    cursor: pointer;
    text-decoration: none;
    height: 42px;
    width: 88px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1.5px solid rgb(0,181,173);
    box-sizing: border-box;
    font-weight: 100;
    border-radius: 0px 12px 12px 0px;
    background-color: rgb(0,181,173)!important;
    border-color: rgb(0,181,173);
    color: rgb(248, 248, 248)!important;
}
.piSearchBoxA .startButton:hover{
    background-color: rgb(0,141,133)!important;
    border-color: rgb(0,141,133);
    color: rgb(248, 248, 248)!important;
}
.piSearchBoxA .inputBox{
    height: 42px;
    width: 100%;
    display: block;
    margin-top: .6em;
    border-radius: 0.8em;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 96px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
}

.piSearchBoxB{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: center;
    font-weight: 100;
}
.piSearchBoxB .startButton{
    display: inline-flex;
    min-width: 5.2em;
    padding-left: .6em;
    padding-right: .6em;
    height: 1.8em;
    margin-bottom: .4em;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    cursor: pointer;
    text-decoration: none;
    height: 42px;
    width: 88px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1.5px solid rgb(0,181,173);
    box-sizing: border-box;
    font-weight: 100;
    border-radius: 0px 21px 21px 0px;
    background-color: rgb(0,181,173)!important;
    border-color: rgb(0,181,173);
    color: rgb(248, 248, 248)!important;
}
.piSearchBoxB .startButton:hover{
    background-color: rgb(0,141,133)!important;
    border-color: rgb(0,141,133);
    color: rgb(248, 248, 248)!important;
}
.piSearchBoxB .inputBox{
    height: 42px;
    width: 100%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 96px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
}

.piSearchBoxC{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: center;
    font-weight: 100;
}
.piSearchBoxC .startButton{
    display: none;
}
.piSearchBoxC .inputBox{
    height: 42px;
    width: 100%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: center;
}

.piSearchBoxD{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: center;
    font-weight: 100;
}
.piSearchBoxDLeft{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: left;
    font-weight: 100;
}
.piSearchBoxDRight{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: right;
    font-weight: 100;
}
.piSearchBoxD .startButton,.piSearchBoxDLeft .startButton,.piSearchBoxDRight .startButton{
    display: none;
}
.piSearchBoxD .inputBox{
    height: 42px;
    width: 80%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxDLeft .inputBox{
    height: 42px;
    width: 80%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxDRight .inputBox{
    height: 42px;
    width: 80%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxD .inputBox:focus,.piSearchBoxDLeft .inputBox:focus,.piSearchBoxDRight .inputBox:focus{
    width: 100%;
    border-radius: 12px;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}

.piSearchBoxE{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: center;
    font-weight: 100;
}
.piSearchBoxE .startButton{
    display: inline-flex;
    min-width: 4.2em;
    padding-left: .6em;
    padding-right: .6em;
    height: 1.8em;
    margin-bottom: .4em;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    cursor: pointer;
    text-decoration: none;
    height: 42px;
    width: 4.2em;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1.5px solid rgb(0,181,173);
    box-sizing: border-box;
    font-weight: 100;
    border-radius: 21px 21px 21px 21px;
    background-color: rgb(0,181,173)!important;
    border-color: rgb(0,181,173);
    color: rgb(248, 248, 248)!important;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxE .startButton:hover{
    background-color: rgb(0,141,133)!important;
    border-color: rgb(0,141,133);
    color: rgb(248, 248, 248)!important;
    width: 88px;
    border-radius: 0px 21px 21px 0px;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxE .inputBox{
    height: 42px;
    width: 100%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 96px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
}

.piSearchBoxFLeft{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: left;
    font-weight: 100;
    box-sizing: border-box;
}
.piSearchBoxFRight{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: right;
    font-weight: 100;
    box-sizing: border-box;
}
.piSearchBoxFLeft .startButton,.piSearchBoxFRight .startButton{
    display: none;
}
.piSearchBoxFLeft .searchIcon{
    position: absolute;
    top: 11px;
    left: 12px;
}
.piSearchBoxFRight .searchIcon{
    position: absolute;
    top: 11px;
    right: 12px;
}
.piSearchBoxFLeft .searchIcon::before,.piSearchBoxFRight .searchIcon::before{
    content: url("./search_a.svg");
}
.piSearchBoxFLeft .inputBox{
    height: 42px;
    width: 80%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 36px;
    padding-right: 12px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxFRight .inputBox{
    height: 42px;
    width: 80%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 36px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}
.piSearchBoxFLeft .inputBox:focus,.piSearchBoxFRight .inputBox:focus{
    width: 100%;
    border-radius: 12px;
    transition: width 0.2s ease-in-out,border-radius 0.2s ease-out;
}

.piSearchBoxG{
    position: relative;
    height: 42px!important;
    min-width: 188px;
    text-align: left;
    font-weight: 100;
    box-sizing: border-box;
}
.piSearchBoxG .inputBox{
    height: 42px;
    width: 100%;
    display: block;
    margin-top: .6em;
    border-radius: 21px;
    border: 1.5px solid rgb(0,181,173);
    color: rgb(0,181,173);
    padding-left: 12px;
    padding-right: 36px;
    box-sizing: border-box;
    font-weight: 100;
    outline: none;
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
}
.piSearchBoxG .startButton{
    display: inline-flex;
    padding-left: .6em;
    padding-right: .6em;
    height: 1.8em;
    margin-bottom: .4em;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    cursor: pointer;
    text-decoration: none;
    height: 42px;
    width: 46px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1.5px solid rgb(255,255,255);
    box-sizing: border-box;
    font-weight: 100;
    border-radius: 0px 21px 21px 0px;
    background-color: rgb(255,255,255)!important;
    border-color: rgb(0,181,173);
    border-left: 0px;
    color: rgb(248, 248, 248)!important;
}
.piSearchBoxG .startButton:hover{
    background-color: rgb(0,181,173)!important;
    border-color: rgb(0,181,173);
}
.piSearchBoxG .startButton .searchIcon{
    position: absolute;
    top: 9px;
    right: 12px;
}
.piSearchBoxG .startButton .searchIcon::after{
    content: url("./search_a.svg");
}
.piSearchBoxG .startButton:hover .searchIcon::after{
    content: url("./search_b.svg");
}